[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "==7.1.2"
openai = "*"
elasticsearch = "*"
pandas = "*"
jupyter = "*"
sentence-transformers = "==2.7.0"
python-dotenv = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
